.topnav{
    background-color: plum;
}

.topnav a{
    float: left;
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
    font-size: 17px;
}

.topnav a:hover{
    background-color: grey;
    color:rgb(0, 0, 0);
}

.topnav a.active{
    background-color: grey;
    color: white;
}

.dropdownItem{
    border: none;
    padding: 14px 16px;
    font-size: 17px;
    background-color: plum;
}

.dropdown{
    position: relative;
    display: inline-block;

}

.dropdownContent{
    display: none;
    position: absolute;
    background-color: plum;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,.2);


}
.dropdownContent a{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    min-width: 160px;
}

.dropdownContent a:hover{
    display: block;
}

.dropdown:hover .dropdownContent{
    display: block;
}
.dropdownItem:hover{
    background-color: plum;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}
