
body {
    background-image: url('../../Assets/Photos/homePage.jpg');
    background-repeat: no-repeat;
    background-position: top;
    color: black;
    margin-left: auto;
    margin-right: auto;

}

#helpTitle {
    font-size: 40pt;
}

h2 {
    line-height: 10px;
    text-indent: 10px;

}
.macTips {
    max-width: 1000px;
    text-align: left;
    margin:auto;
    margin-top: 15px;
    background-color: white;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;

}

@media print{
    body {
        visibility: hidden;
    }
    .macTips {
        visibility: visible;
        position:absolute;
        top: 0;
        left: 0;

    }
}