#aboutPhoto{
    background-color: rgba(128, 128, 128,.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    position: inherit;
    border-radius: 15px;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left:15px ;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
}




#photos {
    background-color: rgba(128, 128, 128,.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    position: inherit;
    border-radius: 15px;
    padding-top: 2px;
    padding-bottom: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 23%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 99%;
    border-radius: 15px;
}


@media screen and (max-width: 800px) {
    .column {
        flex: 48%;
        max-width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .column {
        flex: 99%;
        max-width: 100%;
    }   
}
    


body {
    background-image: url('../../Assets/Photos/homePage.jpg');
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    
    color: azure;
    text-shadow: 0px 3px 3px rgba(0,0,0,.5);    
}

