#photos {
    background-color: rgba(128, 128, 128,.5);
    backdrop-filter: blur(5px);
    display: block;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 24%;
    max-width: 24%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}


@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }   
}
    


body {
    background-image: url('../../Assets/Photos/homePage.jpg');
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    
    color: azure;
    text-shadow: 0px 3px 3px rgba(0,0,0,.5);    
}

