body {
    background-image: url('../../Assets/Photos/homePage.jpg');
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    
    color: azure;
    text-shadow: 0px 3px 3px rgba(0,0,0,.5);
    
}
h1 {
    text-align: center;
    border-radius: 5px;  
    margin-left: 10%;  
    margin-right: 10%;
}
.image {
    display:block;
    background-color: rgba(128, 128, 128,.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    position: inherit;
    border-radius: 15px;
    
}


h2 {
    text-align: left;
    padding-left: 15px;
}
#aboutSite {
    z-index: 0;
    display:block;
    background-color: rgba(128, 128, 128,.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    max-width: 750px;
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    position: inherit;
    border-radius: 15px;
    padding-top: 2px;
    padding-bottom: 10px;
}

.blurb {
    background-color: grey;
    position: inherit;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 3px;
    padding-bottom: 5px;

}

.blurb p {
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    text-indent: 25px;
}

li {
    text-align: left;
    margin-left: 1px;
    padding-left: 4px;
}
